.SearchList, .CompanyDetails, .PortfolioList, .Portfolio {
  margin: 30px;
  margin-top: 60px;
}

.App {
  background-color: #D6E7E9;
  background-image: url("./clock-background.jpeg");
  background-size: auto;
  background-position: center;
  height: 100vh;
  width: 100vw;
  background-repeat:no-repeat; 
}



