
.SearchList, .CompanyDetails, .PortfolioList, .Portfolio, .home {
  margin: 30px;
  margin-top: 60px;
}

.navbar {
  background-color: #0076BC;
  min-height: 75px;
  display:flex;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
}

.navbar .left, .navbar .right {
  display: flex;
  align-items: center;
}

.navbar img {
  max-height: 100px;
}

.navitem {
  height: 75px;
  display: flex;
  min-width: 120px;
  justify-content: center;
  align-items: center;
}

.navitem:hover {
  background-color: #025788;
  cursor: pointer;
}

.navbar a {
  text-decoration: none;
  color: white;
}


.App {
  background-image: url("./clock-background.jpeg");
  height: 100vh;
  width: 100vw;
  background-color: #D6E7E9;
  background-size: auto;
  background-position: center;
  background-repeat:no-repeat; 
}

.count {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.homecard {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}



.research, .portfolios {
  flex-grow: 1;
}

@counter-style clock {
  system: cyclic;
  symbols: "\1F551";
  suffix: " ";
}

ul {
  list-style: clock;
}

li {
  margin: 10px;
}

.graphtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
